<nav class="navbar sticky-top navbar-expand-lg" data-bs-theme="dark" bg-body-tertiary>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">VacationHomes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/vacation_homes">Vacation Homes</a>
                <a class="nav-link" href="/vacation_homes/new">New Vacation Home</a>
            </div>
            <div class="navbar-nav ms-auto">

                <% if(!currentUser){%>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% }else{ %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% }%>
            </div>
            <form class="d-flex" role="search" action="/vacation_homes/search" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>